{% include 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h4>Vectores</h4>
            <br/>
            <ul>
                {% for key, cosine in cosines  %}
                <li>{{ key }}: {{ cosine }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}