{% include 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="jumbotron">
            <h1 class="display-4">Calcular similares</h1>
            <form action="{{ path('cosine_answer') }}" method="post">
                <div class="form-group">
                    <input type="text" name="main" class="form-control" placeholder="Vector a buscar"/>
                </div>
                <div class="form-group">
                    <input type="text" name="v1" class="form-control" placeholder="Vector 1"/>
                </div>
                <div class="form-group">
                    <input type="text" name="v2" class="form-control" placeholder="Vector 2"/>
                </div>
                <div class="form-group">
                    <input type="text" name="v3" class="form-control" placeholder="Vector 3"/>
                </div>
                <div class="form-group">
                    <input type="text" name="v4" class="form-control" placeholder="Vector 4"/>
                </div>
                <button type="submit" class="btn btn-primary">Calcular</button>
            </form>
        </div>
    </div>
{% endblock %}