{% include 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h4>Palabras</h4>
            <br/>
            <ul>
                {% for word in words  %}
                <li>{{ word[0] }} - {{ word[1] }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}