{% include 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="jumbotron">
            <h1 class="display-4">Similaridad</h1>
            <form action="{{ path('lexer_response') }}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control"  name="content"/>
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
        </div>
    </div>
{% endblock %}