{% include 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% for doc in answer %}
        <div class="jumbotron">
            <h4>{{ doc.title }}</h4>
            <br/>
            <pre style="white-space: pre-wrap;text-align: justify;text-justify: inter-word;">{{ doc.content }}</pre>
        </div>
        {% else %}
            <div class="jumbotron">
                <h5>No hay resultados.</h5>
            </div>
        {% endfor %}
    </div>
{% endblock %}