{% include 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
            <br/>
        {% endfor %}

        <div class="jumbotron">
            <h1 class="display-4">Buscar</h1>
            <form action="{{ path('api_search') }}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="text" placeholder="Texto a buscar">
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
        </div>
    </div>
{% endblock %}