{% include 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Insertar</h1>
            <form action="{{ path('api_insert') }}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="title" placeholder="Titulo">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="10" name="content"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Insertar</button>
            </form>
        </div>
    </div>
{% endblock %}